<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Candy Crush Saga clone Angular</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
    <div class="game-wrapper" ng-app="app" ng-controller="GameController">
        <div class="button" ng-click="startGame()">
            <span ng-show="!gameStarted">Start Game</span>
            <span ng-show="gameStarted">End Game</span>
        </div>
        <div class="button" ng-if="gameStarted" ng-click="startLevel(level)">
            <span ng-show="!levelStarted">Go</span>
            <span ng-show="levelStarted">Stop</span>
        </div>

        <span ng-if="levelStarted">Счет: {{score}}</span>
        <span ng-if="gameStarted">Общий счет: {{totalScore}}</span>

        <span ng-if="gameStarted">
            <span ng-show="!levelStarted">Время: {{getHumanTime(timeLeft)}}</span>
            <span ng-show="levelStarted">Времени осталось: {{getHumanTime(timeLeft)}}</span>
        </span>

        <span ng-if="gameStarted">Цель: {{level.targetScore}}</span>
        <grid on-score-increased="increaseScore(value)"></grid>
    </div>
</body>
</html>